<%= form_tag("/bookings/new", method: "get") do %>
	<h2>Select a flight:</h2>
	<table>
		<tr>
			<th></th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Departure Time</th>
			<th>Duration</th>
		</tr>     
		<%= render @search_results %>					
	</table></br>
	<%= submit_tag "Book Flight" %>
<% end %>